@{
    ViewData["Title"] = "Login";
}
@using Kanban.Models
@model Usuario_space.Usuario

<header class="mb-5">
<h1 >Cambiar Contraseña</h1>
</header>

<form asp-action="CambiarPassword" asp-controller="Usuarios">
    <div class="form-group">
        <label for="usuario">Ingrese su nombre de usuario</label>
        <input type="text">
    </div>
</form>